.session-wrapper {
    position: relative;
    height: 100%;
}
/* import backgroundimage from '../../assets/back4.jpg' */
.background-class {
    display:block;
    position:'relative';
    background-size:'cover';
    height:100vh;
}
.slider-left {
    text-align:center;
    display:inline-block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
}