.course-header{
    padding: 12px;
    background: #fff;
    min-height: 65px;
    font-weight: 500;
}
.gutterbox {
    padding: 5px 7px;
}
.topmargin {
    margin-top: 20px;
}
.contentmargin {
    margin-top: 20px;
}
.applybutton {
    background-color: black!important;
    color: white!important;
}
.sortselect {
    width: 200px;
    margin-top: 15px!important;
}
.sortcontent {
    margin-top: 10px;
}