.courseheader{
    padding: 12px;
    background: #fff;
    min-height: 65px;
    font-size: 25px;
    font-weight: 500;
}
.content{
    padding: 12px;
    background: #fff;
    min-height: 65px;
    font-size: 17px;
    
}
.centerremoveheader{
    text-align: center;
    }
.centerremove{
    text-align: center;
    color:red;
}